<footer class="site-footer">
  <div class="row">
    <div class="medium-6 column">
      <ul class="inline-list text-left h2">
        <li class=""><a class="fi-social-twitter" href="http://twitter.com"><span class="hide">Twitter</span></a></li>
        <li class=""><a class="fi-social-facebook" href="http://facebook"><span class="hide">Facebook</span></a></li>
        <li class=""><a class="fi-social-youtube" href="http://youtube.com"><span class="hide">Youtube</span></a></li>
        <li class=""><a class="fi-social-instagram" href="http://instagram.com"><span class="hide">Instagram</span></a></li>
      </ul>
    </div>
    <div class="medium-6 columns">
      <ul class="inline-list text-right h2">
        <li class="fi-crown"><a href="/foundation-icons/"><span class="hide">Icons</span></a></li>
        <li class="fi-foundation"><a href="/foundation-icons/"><span class="hide">Foundation</span></a></li>
      </ul>
    </div>
  </div>
</footer>
